<div class="banner" style="background-image: url('<%= image_path 'bee-butt.jpg' %>')">

  <div class="banner-content">
    <h1>welcome to air-bee-n-bee!</h1>
    <p><strong>Bee ready to get buzzed by our Bees!</strong></p>
      <%#= link_to 'See all Bees', root_path, class: "btn btn-primary" %>
  </div>
</div>

<% beepic = ['bee-closeup3','bee-closeup2', 'bee-banner', 'bee-closeup', 'bee-small', 'bee-small1']  %>
<% counter = 1 %>
<p class="text-center">check out our featured bees</p>
<!-- >>>>>>> c730741619c0127f1af4cdcf68f65c9609e242df -->
<div class="container">
<div class="d-flex flex-wrap justify-content-around">
  <% @bees.each do |bee| %>
  <!-- CHANGE COUNTER NUMBER TO SHOW MORE/LESS BEES -->
  <% break if counter == 4 %>
    <div class="card card-bee mt-3 mb-3" style="width: 18rem;">
        <div><%= image_tag "#{beepic.sample}", alt: "alttext", class: "card-img-top", height:'250px', width:'100%'%></div>
        <div class="card-body">
          <h5 class="card-title" id="card-bee-title"><%= bee.name %></h5>
          <p class="card-text"><%= bee.description %>.</p>
          <%= link_to 'See all Bees', bees_path, class: "btn btn-primary" %>
        </div>
    <%#= image_tag image_path("bee-face.jpg"), class: "card-img-top"%>
      </div>
      <% counter += 1 %>
  <% end %>
</div>
</div>




