<div class="banner" style="background-image: url('<%= image_path 'bee-butt.jpg' %>')">

  <div class="banner-content">
    <h1>welcome to air-bee-n-bee!</h1>
    <p><strong>Bee ready to get buzzed by our Bees!</strong></p>
    <%#= link_to 'See all Bees', root_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="card mission-card" style="width: 25rem;">
  <div class="card-body">
    <h3 class="card-title">Bee Inspired</h3>
    <p class="card-text">Did you know that bees perform waggle dances in order to communicate with one another? Or that bees have a sense of smell 50 times more powerful than a dog’s? But hold your horses, there is more! Bees can build honeycombs in zero gravity and can be trained to locate buried land mines! Without a doubt, bees are THE coolest tiny beings, and we think all of us should get to know them a little better. Check out our bees below and book your furry friend ASAP!</p>
    <%= link_to 'All our Bees', bees_path, class: "btn btn-black" %>

  </div>
</div>





<% beepics = ['bee-big', '4', 'bee-face', 'snacking-bee']  %>
<% counter = 1 %>
<h3 class="text-center" style= "background-color: #f5cb5c;">check out our featured bees</h3>
<div class="container">
  <div class="d-flex flex-wrap justify-content-around">
    <% @bees.each do |bee| %>
    <!-- CHANGE COUNTER NUMBER TO SHOW MORE/LESS BEES -->
    <% break if counter == 4 %>
    <div class="card card-bee mt-3 mb-3" style="width: 18rem;">
      <% if bee.features == "Cool" %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #2cf4d6; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% elsif bee.features == "Funny" %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #f265b7; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% elsif bee.features == "Dramatic" %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #bc64ef; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% elsif bee.features == "Interesting" %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #63a1ed; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% elsif bee.features == "Funky" %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #F4CA65; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% elsif bee.features == "Sexy" %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #f28b65; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% else %>
      <div class="card-img-overlay text-white  text-center" style="width: 120px;"><p class= "rounded-bottom rounded-top" style="background-color: #65f2c5; opacity: 0.95"><%= bee.features.downcase %></p></div>
      <% end %>
      <div>
        <%= image_tag  image_path("#{bee.image}"), alt: "alttext", class: "card-img-top", height:'250px', width:'100%'%>
      </div>
      <div class="card-body">
        <h5 class="card-title" id="card-bee-title"><%= bee.name %></h5>
        <p class="card-text"><%= bee.description %>.</p>
        <%= link_to 'View', bee_path(bee), class: "btn btn-primary" %>
      </div>
      <%#= image_tag image_path("bee-face.jpg"), class: "card-img-top"%>
    </div>
    <% counter += 1 %>
    <% end %>
  </div>
</div>


