  <%= link_to 'Add a new Bee', new_bee_path, class: "btn btn-primary" %>



<div class="banner" style="background-image: url('<%= image_path 'big.jpg' %>')">
	<div class="banner-content">
		<h1>Welcome to air-bee-n-bee!</h1>
		<p><strong>Bee ready to get buzzed by our Bees!</strong></p>
	</div>
</div>

<div class="container">
	<div class="d-flex flex-wrap justify-content-around">
		<% @bees.each do |bee| %>
		<div class="card card-bee mt-3 mb-3" style="width: 18rem;">
			<div><img class="card-img-top" src="<%= image_path('cool-bee.jpg') %>" alt="Card image cap"></div>
			<div class="card-body">
				<h5 class="card-title" id="card-bee-title"><%= bee.name %></h5>
				<p class="card-text"><%= bee.description %>.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			<%#= image_tag image_path("bee-face.jpg"), class: "card-img-top"%>
		</div>
		<% end %>
	</div>
</div>
