<div class="container">
	<%= simple_form_for(@bee) do |f| %>
	<%= f.input :name %>
	<%= f.input :description %>
	<%= f.input :features, collection: Bee::FEATURES %>
	<%= f.input :address %>
	<%= f.input :image, as: :file %>
	<%= f.submit "Breed a Bee!", class: "btn btn-warning" %>
	<% end %>
</div>
<br><br>
