<div class="container">
<%= simple_form_for(@bee) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :features, collection: Bee::FEATURES %>
  <%= f.submit "Breed a bee!", class: "btn btn-warning" %>
<% end %>
</div>
