<% beepic = ['bee-closeup3', 'bee-small', 'bee-sunset', 'cute-bee', 'bumblebee-honeybee', 'drinking-bee', 'cute-bee2', 'bumblebee', 'bumblebee-purple', 'scenic-bees', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']  %>

<div class="container">
 <div class="card card-bee mb-3" style="max-width: 800px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="<%= image_path("#{beepic.sample}") %>" class="card-img" alt="Card image cap">
      </div>
      <div class="col-md-8">
          <div class="card-body">
            <h1><%= @bee.name %> is a great bee!</h1>
            <h4>owned by <strong><%= @bee.user.name %></strong></h4>
            <p><%= @bee.description %></p>
            <a> <%= link_to 'Back to Hompage', root_path, class: "btn btn-primary" %></a>
            <%= link_to 'See all Bees', bees_path, class: "btn btn-black" %>
            <%= link_to 'Book me', new_bee_booking_path(@bee), class: "btn btn-primary" %>
            <br>
            <%= button_to 'Like', bee_likes_path(@bee), method: :post, class: "btn btn-outline-warning btn-sm" %>
            <p><%= @bee.likes.count %> <%= (@bee.likes.count) == 1 ? 'Like' : 'Likes'%></p>
        </div>
     </div>
    </div>
  </div>

<br>

<ul class="list-group">
  <% @bee.bookings.each do |booking| %>
  <% if booking.accepted == false %>
  <li class="list-group-item ">A booking has been requested between <%= booking.start_date %> and <%= booking.end_date %> by <%= booking.user.name %> <%= link_to "✅ Confirm", booking_path(booking), class: "btn btn-primary", method: :patch, data: { confirm: "Confirm booking with #{booking.user.name}? "} %> </li>
  <% else %>
  <li class="list-group-item ">A booking has been confimed between <%= booking.start_date %> and <%= booking.end_date %> with <%= booking.user.name %> <%= link_to "❌ Cancel", booking_path(booking), class: "btn btn-danger", method: :patch, data: { confirm: "Cancel booking with #{booking.user.name}? "} %> </li>
  <% end %>
  <% end %>
</ul>
</div>


