<h1><%= @bee.name %> is a great bee!</h1>
<h3>owned by <%= @bee.user.name %></h3>
<p><%= @bee.description %></p>


<ul class="list-group">
  <% @bee.bookings.each do |booking| %>
    <li class="list-group-item"><%= booking.start_date %> - <%= booking.end_date %> <%= link_to "Confirm booking", bees_path, class: "btn btn-warning" %></li>
  <% end %>
</ul>