<div class="container">
<h1><%= @bee.name %> is a great bee!</h1>
<h4>owned by <%= @bee.user.name %></h4>
<p><%= @bee.description %></p>

 <a> <%= link_to 'Back to Hompage', root_path, class: "btn btn-primary" %></a>
    <%= link_to 'Book me', new_bee_booking_path(@bee), class: "btn btn-primary" %>

<ul class="list-group">
  <% @bee.bookings.each do |booking| %>
  <% unless booking.accepted == true %>
  <li class="list-group-item">A booking has been requested between <%= booking.start_date %> and <%= booking.end_date %> by <%= booking.user.name %> <%= link_to "Confirm booking", bees_path, class: "btn btn-warning" %></li>
  <% else %>
  <li class="list-group-item">A booking between <%= booking.start_date %> and <%= booking.end_date %> by <%= booking.user.name %> ✅ </li>
  <% end %>
  <% end %>
</ul>
</div>
